.navButtons {
  margin: 8px 0;
  text-decoration: none;
  background: white;
  border-radius: 4px;
  font-size: 14px;
  padding: 12px 16px;
  /* text-transform: uppercase; */
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #333;
  border: 2px solid #eaeaea;
  transition: all 0.125s ease;
}

.navButtons:hover {
  background-color: #eaeaea;
}

.home {
  margin: 8px 0;
  text-decoration: none;
  background: white;
  border-radius: 4px;
  font-size: 14px;
  padding: 12px 16px;
  /* text-transform: uppercase; */
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #333;
  border: 2px solid #482d1f;
  transition: all 0.125s ease;

}

.rda {
  margin: 8px 0;
  text-decoration: none;
  background: white;
  border-radius: 4px;
  font-size: 14px;
  padding: 12px 16px;
  /* text-transform: uppercase; */
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #333;
  border: 2px solid #fdd85b;
  transition: all 0.125s ease;

}

.content {
  margin: 8px 0;
  text-decoration: none;
  background: white;
  border-radius: 4px;
  font-size: 14px;
  padding: 12px 16px;
  /* text-transform: uppercase; */
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #333;
  border: 2px solid #900d13;
  transition: all 0.125s ease;

}

.gnd {
  margin: 8px 0;
  text-decoration: none;
  background: white;
  border-radius: 4px;
  font-size: 14px;
  padding: 12px 16px;
  /* text-transform: uppercase; */
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #333;
  border: 2px solid #0069b4;
  transition: all 0.125s ease;

}

.input {
  margin: 32px 0;
  text-decoration: none;
  background: white;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  font-size: 14px;
  padding: 8px 16px;
  height: 28px;
}
