# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# vim
*.swp
# dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json

# testing
/coverage
# /data

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel


# remote: error: GH001: Large files detected. You may want to try Git Large File Storage - https://git-lfs.github.com.
__tests__/pages/entities/__snapshots__/
