.header {
  width: auto;
  /* margin-left: 16%; */
  padding-right: 16px;
  margin-right: 16px;
  overflow: hidden;
  height: 3rem;
  display: flex;
  position: fixed;
  top: 2px;
  align-items: center;
  justify-content: space-between;
  background-color: #fdd85b;
}

.logo {
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 2rem;
}

.header a {
  margin-right: 2rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #a50e48;
}
