.table {
  font-family: EuclidCircularA, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding: 10px;
}

.table td,
.table th {
  border: 1px solid #000;
  padding: 4px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.firstrow {
  border: 1px solid #000;
  font-weight: bold;
  font-size: 14px;
}

.secondrow {
  text-align: left;
  font-weight: bold;
  background-color: #a8a8a8;
  /* border: 1px double #000; */
  border-spacing: 10px 15px;
  /* border-top: 10px solid white; */
  border-right: 0;
  border-left: 0;
}
/* .table tr:hover {background-color: #ddd;} */

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0069b4;
  color: white;
}
.table a:link {
  font-weight: bold;
  font-size: 14px;
  color: blue;
}
/* visited link */
.table a:visited {
  color: blue;
}
/* mouse over link */
.table a:hover {
  color: red;
}
/* selected link */
.table a:active {
  color: green;
}
.table section {
  text-align: center;
  padding-top: 10px;
}
.table ul {
  list-style: none;
  width: 100%;
}
.table ul li {
  float: left;
  padding: 10px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}
.table ul li:nth-child(3n) {
  background-color: #888;
}
.table ul li:nth-child(3n + 1) {
  clear: both;
  border-left: 1px solid #000;
  background-color: #ccc;
}
.table ul li:nth-child(-n + 3) {
  border-top: 1px solid #000;
}
