.table {
        font-family: EuclidCircularA, sans-serif;
        border-collapse: collapse;
        width: 100%;
        padding: 15px;
        font-size: 12px;
}

.table td, .table th {
        border: 1px solid #ddd;
        padding: 4px;
}

.table tr:nth-child(even){background-color: #dbd8d8;}

/* .table tr:hover {background-color: #ddd;} */
.table th {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        background-color: #0069b4a1;
        color: white;
}      
.table th:nth-child(4) {
        text-align: left;
}
.table a:link {
        color: blue;
}
/* visited link */
.table a:visited {
        color: darkblue;
}
/* mouse over link */
.table a:hover {
        color: red;
}
/* selected link */
.table a:active {
        color: green;
}
.table section {
        text-align: center;
        padding-top: 10px;
}
.table ul{
        list-style:none;
        width: 100%;
}
.table ul li{
        float:left;
        padding:10px;
        border-bottom:1px solid #000;
        border-right:1px solid #000;
}
.table ul li:nth-child(3n){
        background-color:#888;
}
.table ul li:nth-child(3n+1){
        clear:both;
        border-left:1px solid #000;
        background-color:#ccc;
}
.table ul li:nth-child(-n+3){
        border-top:1px solid #000;
}
