.div {
  position: relative;
  /* float: left; */
  width: auto;
  /* max-width: 300px; */
  height: auto;
  padding: 3px;
  margin: 2px;
  margin-left: 15px;
  border: 1px solid black; 
  background-color: #ffffcc;
  /* color: #335500;  */
  font-size: 0.82em; 
}
.div p {
  margin: 5px;
}
.div a {
  margin: 5px;
}
.h5 {
  padding: 3px;
  margin: 2px;
  margin-left: 15px;
}
.red  {
  color: red;
}
/* .detail h4 { */
/* margin-left: 10px; */
/* } */
