/* * { */
/* box-sizing: border-box; */
/* } */
.examples {
  margin-left: 10px;
  margin-right: 10px;
}
.example {
  margin-bottom: 15px;
  border: 1px solid black;
  background-color: #f8f1e2;
}
.box {
  /* position: relative; */
  float: left;
  width: 49%;
  /* min-width: 385px; */
  height: auto;
  padding: 2px;
  margin: 2px;
  border: 1px solid black;
  background-color: #ffffcc;
  /* color: #335500;  */
  font-size: 0.82em;
  vertical-align: text-top;
}
.boxtitle {
  /* float: right; */
  font-size: 0.62em;
  color: blue;
  text-align: left;
}
.boxdescription {
  float: right;
  width: 50%;
  font-size: 0.88em;
  /* color: blue; */
  font-style: italic;
  text-align: left;
}
.boxdescription::after {
  content: "";
  clear: both;
  display: table;
}
.box p {
  margin: 1px;
}
.box a {
  margin: 5px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.red {
  color: red;
}
.formatneutral {
  font-weight: bolder;
  margin: 1px;
  padding: 1px;
}
.kursiv {
  font-style: italic;
}
