.outer-scroll.normal {
  height: 9rem;
  max-height: 25vh;
}
.outer-scroll.expanded {
  height: calc(100vh - 2rem);
  bottom: 1rem;
}
.outer-scroll.normal,
.outer-scroll.expanded {
  padding: 0 0.5rem;
}
@media screen and (min-width: 700px) {
  /* On large screens, TOC doesn't have to fill width of screen. */
  .outer-scroll.normal,
  .outer-scroll.expanded {
    width: 35vw;
    max-width: 600px;
  }
}
.outer-scroll.collapsed {
  height: unset;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 0.5rem;
  margin-left: auto;
}
