.italic {
  font-style: italic;
}
.bold {
  font-style: normal;
  font-weight: bold;
}
.detail {
        width: 100%;
        padding: 0;
}
.list {
        list-style: none;
        margin: 0;
        padding: 0;
}
.table {
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        padding: 0;
}
.Collapsible {
  background-color: #f2f2f2;
  border: 1px solid black;
  padding-top: 5px;
}
.CustomTriggerCSS {
  background-color: #fdd85b;
  font-size: 12px;
  color: white;
  border: none;
  cursor: pointer;
  margin: 5px;
  padding: 2px 12px 3px 12px;
  text-decoration: none;
}

.CustomTriggerCSSopen {
  background-color: #fdd85b;
  font-size: 12px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 2px 12px 3px 12px;
  text-decoration: none;
}
