// ref: https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@background-color: rgb(240, 242, 245);

@primary-color: #f49c3c; // primary color for all components
@link-color: #0b3278; // link color

@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color

// @font-size-base: 14px; // major text font size
// @heading-color: rgba(0, 0, 0, 0.85); // heading text color
// @text-color: rgba(0, 0, 0, 0.65); // major text color
// @text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
// @disabled-color: rgba(0, 0, 0, 0.25); // disable state color
// @border-radius-base: 2px; // major border radius
// @border-color-base: #d9d9d9; // major border color
// @box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05); // major shadow for layers

// Layout
@layout-body-background: @background-color;
@layout-header-background: @link-color;

// Collapse
@collapse-header-bg: @background-color;
@collapse-content-bg: @background-color;

.ant-collapse-header {
  padding: 4px 0px 4px 12px !important;
}

.ant-breadcrumb {
  background-color: @background-color;
}

.ant-menu-submenu-selected {
  background-color: @primary-color !important;
}

.ant-layout-header {
  height: inherit;
}

.ant-breadcrumb-separator > .RDA-seperator {
  color: @primary-color;
}

.ant-breadcrumb-separator > .GND-seperator {
  color: @link-color;
}

.ant-layout-content > * {
  padding-left: 24px;
}

.ant-page-header {
  padding-left: 0px;
}

.ant-modal {
  z-index: 1040;
}

.ant-popover {
  z-index: 1010;
}

.ant-table-thead .anticon {
  font-size: 16px;
}

table {
  border-bottom: 2px solid @background-color !important;
}

.ant-table-thead > tr > th {
  border-bottom: 2px solid @background-color !important;
  border-right: 3px solid @background-color !important;
  border-left: 3px solid @background-color !important;
  border-top: 2px solid @background-color !important;
}

.example-table table {
  background-color: var(--primary-2) !important;
}

.example-table .ant-table-cell-row-hover {
  background-color: var(--primary-3) !important;
}

.application-profile-table-expandable-row > td {
  padding-left: 2% !important;
}
