:root {
  /* duplicates config/colors.ts  */
  --unspecific-namespace-color: #979696;
  --rda-color: #ed7b15;
  --gnd-color: #0068ff;
  --light-gray: #f0f0f0;
  --top-bar-color: #979696;
  --link-color: #0068ff;

  --topbar-height: 64px;
  --footer-height: 32px;
  --topbar-padding-y: 26px;
  /* --warm-gray: #d3d3d3; */
}
