.example-table {
  background-color: #fafafa;
  color: black;
  margin-bottom: 10px;
  text-align: left;
  vertical-align: top;
}
.grey-background {
  background-color: #c5c4c4; /* Light grey background */
  /* border-color: black;
  border-style: solid;
  border-width: 2px; */
}