@import 'antd/dist/antd.less';
@import './antd-override.less';

@topbar-height: 64px;

@topbar-padding-bottom: 26px; // also size for breadcrumb height

:root {
  --topbar-height: @topbar-height;
  --topbar-padding-bottom: @topbar-padding-bottom;
  --primary-1: @primary-1;
  --primary-2: @primary-2;
  --primary-3: @primary-3;
  --primary-4: @primary-4;
  --primary-5: @primary-5;
  --primary-6: @primary-6;
  --primary-7: @primary-7;
  --primary-8: @primary-8;
  --primary-9: @primary-9;
  --link-color: @link-color;
}

.progress-bar {
  height: 2px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 11;
  background: linear-gradient(80deg, #f3efef, @primary-color, @link-color);
  background-size: 600% 600%;
  animation: AnimationName 1s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 51%;
  }
}
