#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body {
  padding: 0;
  margin: 0;
  font-family: EuclidCircularA, sans-serif;
}
/* * { */
  /* box-sizing: border-box; */
/* } */
h1 {
  padding: 2px;
  padding-top: 5px;
  margin: 2px;
  margin-left: 0px;
  font-size: 30px;
}
h2 {
  padding: 2px;
  padding-top: 5px;
  margin: 2px;
  margin-left: 2px;
  font-size: 28px;
}
h3 {
  padding: 2px;
  padding-top: 5px;
  margin: 2px;
  margin-left: 4px;
  font-size: 26px;
}
h4 {
  padding: 2px;
  padding-top: 5px;
  margin: 2px;
  margin-left: 6px;
  font-size: 24px;
}
h5 {
  padding: 2px;
  padding-top: 5px;
  margin: 2px;
  margin-left: 8px;
  font-size: 20px;
}
h6 {
  padding: 1px;
  padding-top: 5px;
  margin: 0;
  margin-left: 10px;
  font-size: 18px;
}
p {
  margin: 4px;
  font-size: 14px;
}
a {
  font-size: 14px;
  color: blue;
  text-decoration: none;
}
th {
  font-size: 15px;
}
td {
  font-size: 14px;
}
ul li {
  padding: 2px 2px;
  font-size: 14px;
}
ol li {
  padding: 2px 2px;
  font-size: 14px;
}
div {
  padding: 1px;
}
