// @import 'antd/dist/antd.variable.min.css';
// @import 'antd/dist/antd.less';
// @import './antd-override.less';
// @import './react-split.less';
// @import './loading-bar.less';

@topbar-height: 64px;
@footer-height: 32px;

@topbar-padding-y: 26px; // also size for breadcrumb height

// --ant-primary-color: rgb(253, 208, 105);
// --ant-primary-color-disabled: #fffcf0;
// --ant-primary-color-hover: #ffe294;
// --ant-primary-color-active: #d6a94f;
// --ant-primary-color-outline: rgba(253, 208, 105, 0.2);
// --ant-primary-color-deprecated-bg: #fffdf0;
// --ant-primary-color-deprecated-border: #fffae6;
// --ant-primary-1: #fffdf0;
// --ant-primary-2: #fffcf0;
// --ant-primary-3: #fffae6;
// --ant-primary-4: #fff0bd;
// --ant-primary-5: #ffe294;
// --ant-primary-6: #fdd069;
// --ant-primary-7: #d6a94f;
// --ant-primary-8: #b08438;
// --ant-primary-9: #8a6125;
// --ant-primary-10: #63441a;

:root {
  --topbar-height: @topbar-height;
  --footer-height: @footer-height;
  --topbar-padding-y: @topbar-padding-y;
  // --primary-1: @primary-1;
  // --primary-2: @primary-2;
  // --primary-3: @primary-3;
  // --primary-4: @primary-4;
  // --primary-5: @primary-5;
  // --primary-6: @primary-6;
  // --primary-7: @primary-7;
  // --primary-8: @primary-8;
  // --primary-9: @primary-9;
  --link-color: @link-color;
}

// clarify, needed for http://localhost:3000/entities/Q8469??
img {
  display: block;
}

@media print {
  .splitter-content {
    width: 100% !important;
  }

  .no-print {
    display: none;
  }

  .ant-layout-header {
    display: none;
  }

  .ant-layout-footer {
    display: none;
  }

  .ant-breadcrumb {
    display: none;
  }

  .main-scroll-container {
    overflow-y: visible !important;
  }
}

.search-page {
  width: 60%;
  margin: auto;
}

.main-layout-height {
  height: calc(100vh - @topbar-height - @footer-height);
}

.main-scroll-container {
  overflow-y: auto;
  padding: 0px 25px;
  height: calc(
    100vh - @topbar-height - @footer-height - @topbar-padding-y - 2px
  );
}

.ant-layout-footer {
  height: @footer-height;
  z-index: 1;
  padding: 5px 50px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  @mobile-height-increase: 16px;
  @mobile-footer-decrease: 6px;

  .search-page {
    width: 95%;
  }
  .ant-layout-header {
    padding: 0 15px;
    height: @topbar-height - 16px;
    line-height: @topbar-height - 16px;
  }
  .ant-menu {
    line-height: @topbar-height - 16px;
  }
  .main-scroll-container {
    height: calc(
      100vh - @topbar-height - @footer-height - @topbar-padding-y +
        @mobile-height-increase - 2px
    );
  }
  .main-layout-height {
    height: calc(
      100vh - @topbar-height - @footer-height + @mobile-height-increase +
        @mobile-footer-decrease
    );
  }
  .ant-layout-footer {
    height: @footer-height - @mobile-footer-decrease;
  }

  .ant-drawer-content-wrapper {
    width: 95% !important;
  }
}
