#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
:target:before {
  content: "";
  display: block;
  height: 30px; /* fixed header height*/
  margin: -30px 0 0; /* negative fixed header height */
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  font-family: EuclidCircularA, sans-serif;
}
p {
  margin: 5px;
  font-size: 14px;
}
a {
  font-size: 14px;
  color: blue;
  text-decoration: none;
}
table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  font-family: EuclidCircularA, sans-serif;
  margin-top: 10px;
}
tbody tr:nth-child(odd) {
  background: #ffffff;
}
tbody tr:nth-child(even) {
  background: #f4f4f4;
}
th {
  font-size: 15px;
  text-align: center;
}
td {
  font-size: 14px;
  border: 1px solid black;
}
ul {
  margin: 4px;
  font-size: 14px;
  padding-inline-start: 30px;
}
ul li {
  padding: 2px 2px;
}
ol {
  margin: 4px;
  font-size: 14px;
  padding-inline-start: 30px;
}
ol li {
  padding: 2px 2px;
}

div {
  padding: 1px;
}
header {
  margin: 0;
  padding: 0;
  margin-block-start: 0.37em;
  margin-block-end: 0.17em;
}
.header1 {
  font-size: 30px;
  font-weight: normal;
}
.header2 {
  font-size: 28px;
  font-weight: normal;
}
.header3 {
  font-size: 26px;
  font-weight: normal;
}
.header4 {
  font-size: 24px;
  font-weight: normal;
}
.header5 {
  font-size: 22px;
  font-weight: normal;
}
.header6 {
  font-size: 20px;
  font-weight: normal;
}
.header7 {
  font-size: 18px;
  font-weight: normal;
}
.header8 {
  font-size: 18px;
  font-weight: normal;
}
.header9 {
  font-size: 16px;
  font-weight: normal;
}
.header10 {
  font-size: 14px;
  font-weight: normal;
}
.rda-color {
  background-color: #fdd85b;
  box-shadow: 2px 5px 5px #888888;
}
.gnd-color {
  background-color: #006bb3;
  box-shadow: 2px 5px 5px #888888;
}
.datamodel-color {
  background-color: #474747;
  box-shadow: 2px 5px 5px #888888;
}
.datamodel-color > p {
  color: #fafafa;
}
.italic {
  font-style: italic;
}
.bold {
  font-style: normal;
  font-weight: bold;
}
.CollapsibleOpenGnd {
  background-color: #f2f2f2;
  font-size: 12px;
  border: 1px solid black;
  border-left: 3px solid #006bb3;
  padding-top: 5px;
}
.CollapsibleOpenRda {
  background-color: #f2f2f2;
  font-size: 12px;
  border: 1px solid black;
  border-left: 3px solid #fdd85b;
  padding-top: 5px;
}
.CollapsibleClosedGnd {
  background-color: #006bb3;
  font-size: 12px;
  color: black;
  border: none;
  cursor: pointer;
  margin: 5px;
  padding: 2px 12px 3px 12px;
  text-decoration: none;
}
.CollapsibleClosedRda {
  background-color: #fdd85b;
  font-size: 12px;
  color: black;
  border: none;
  cursor: pointer;
  margin: 5px;
  padding: 2px 12px 3px 12px;
  text-decoration: none;
}
.CollapsibleTriggerOpen {
  background-color: #6e7f80;
  font-size: 12px;
  color: black;
  border: none;
  cursor: pointer;
  padding: 2px 12px 3px 12px;
  text-decoration: none;
  float: right;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.TOCactive {
  background: #faf0be;
}
.example-typeoflayout {
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  background-color: #f8f1e2;
  /* vertical-align: text-top; */
}
.Button {
  background-color: #fdd85b;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin: 4px 2px;
  transition-duration: 0.4s;
}
.Button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}
#gridContainer {
  height: 640px;
}
.dx-filterbuilder-overlay .dx-scrollable-container {
  max-height: 500px;
}
details {
  height: auto;
  overflow: hidden;
  transition: max-height ease-in-out;
  transition-duration: var(--duration, 0.3s);
}
summary {
  cursor: pointer;
}
.collapse-module .collapse,
.collapse-module .collapsing {
  height: 3rem; /* [NUM_OF_LINES] x [LINE_HEIGHT] */
}
.collapse-module .collapse {
  position: relative; /* For ...'s content absolute positioning */
  display: block;
  overflow: hidden;
}
.collapse-module .collapse:before {
  /* content: " ..."; */
  position: absolute;
  right: 0;
  bottom: 0;
}
.collapse-module .collapse.show {
  height: auto; /* You need to reset the height when not collapsed */
}
.collapse-module .collapse.show:before {
  display: none; /* Of course you don't want to display ... */
}
.collapse-module a.collapsed:after {
  content: "+ Aufklappen +";
}
.collapse-module a:not(.collapsed):after {
  content: "- Zuklappen -";
}
.title {
  position: relative;
  /* display: block; */
  /* border-top: 5px solid #969696; */
  /* background-color: #76db95; */
  height: 40px;
  line-height: 50px;
  padding: 4px 6px;
  /* font-size: 16px; */
  /* color: #000000; */
  margin-bottom: 13px;
  clear: both;
}
/* .title .header { */
/*   float: left; */
/* } */
.title .button {
  float: right;
}
.headerlogo {
  float: right;
  overflow: hidden;
  height: 70px;
  align-items: center;
}
.penInHeader {
  margin-left: 10px;
}
.inline-elements > * {
  display: inline-block;
}
