@import 'antd/dist/antd.less';
@import './antd-override.less';
@import './react-split.less';
@import './loading-bar.less';

@topbar-height: 64px;
@footer-height: 32px;

@topbar-padding-y: 26px; // also size for breadcrumb height

:root {
  --topbar-height: @topbar-height;
  --footer-height: @footer-height;
  --topbar-padding-y: @topbar-padding-y;
  --primary-1: @primary-1;
  --primary-2: @primary-2;
  --primary-3: @primary-3;
  --primary-4: @primary-4;
  --primary-5: @primary-5;
  --primary-6: @primary-6;
  --primary-7: @primary-7;
  --primary-8: @primary-8;
  --primary-9: @primary-9;
  --link-color: @link-color;
}

// clarify, needed for http://localhost:3000/entities/Q8469??
img {
  display: block;
}

@media print {
  .ant-layout-sider {
    display: none;
  }

  .ant-layout-header {
    display: none;
  }

  .ant-breadcrumb {
    display: none;
  }
}
